@font-face{
    font-family: Minecrafter;
    src: url("Images/Minecrafter.Reg.ttf");
}
*{
    padding: 0px;
    margin: 0px;
    outline: 0;
    font-family: Minecrafter;
    color: lightgray;
}
html { height: 100%; }
body { height: 100%; }
/*/ Classes /*/
.container{
    background-color: #854F2B;
    margin: auto;
    height: 100%;
    width: 50%;
}
.top{
    background-color: #477A1E;
    height: 15%;
    width: 100%;
    text-align: center
}
.middle{
    height: 65%;
    text-align: center;
}
.bottom{
    background-color: #8FCA5C;
    height: 20%;
    width: 100%;
    position: relative;
    bottom: 0px;
    font-size: 0px;
}
.menuButton{
    width: 25%;
    height: 100%;
    background-color: #8FCA5C;
    background-repeat: no-repeat;
    border: black solid 3px;
}
.upgrade{
    position: relative;
    width: 90%;
    height: 200px;
    background-color: #61371F;
    border: black solid 3px;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    font-family: Minecrafter;
}
.upgradeButton{
    height: 90%;
    width: 30%;
    border: black solid 2px;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 69%;
    font-family: Minecrafter;
    font-size: 40px;
    color: lightgray;
}
.upgradeName{
    height: 30%;
    width: 35%;
    font-size: 30px;
    color: lightgray;
    border: black solid 2px;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 1%;
    line-height: 180%;
}
.upgradeLevel{
    height: 30%;
    width: 29%;
    font-size: 30px;
    color: lightgray;
    border: black solid 2px;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 37%;
    line-height: 180%;
}
.upgradeDescription{
    height: 50%;
    width: 65%;
    font-size: 20px;
    color: lightgray;
    border: black solid 2px;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 1%;
}
.buyAmountButton{
    width: 20%;
    margin: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: black solid 2px;
    height: 90%;
    margin-top: 0.5%;
    font-size: 20px;
}
.available{
    background-color: green;
}
.unavailable{
    background-color: red;
}
.vertical{ margin-top: 2%;}
/*/ ID's /*/
#block{
    width:300px;
    height:300px;
    background-color: #854F2B;
    background-image: url("Images/Stone.png");
    border: none;
    margin: 9% auto;
    cursor: url("Images/Diamond_Pickaxe.png"), auto;
}
#moneyCounter{
    font-size: 80px;
    position: relative;
    top: 40px;
}
#cooldownBar{
    width: 80%;
    margin: auto;
    margin-top: 1%;
    border: black solid 1px;
    border-radius: 5px;
    height: 10%;  
}
#progressBar{
    height: 100%;
    width: 0%;
    background-color: #C28340;
    border: none;
    border-radius: 5px;
}
#cooldownTimer{
    font-size: 20px;
    position: relative;
    bottom: 100%;
    padding-top: 3%;
}
#durabilityBar{
    width: 80%;
    margin: auto;
    margin-top: 1%;
    border: black solid 1px;
    border-radius: 5px;
    height: 10%;
}
#durabilityLeft{
    height: 100%;
    width: 0%;
    background-color: blue;
    border: none;
    border-radius: 5px;
}
#durabilityCounter{
    font-size: 20px;
    position: relative;
    bottom: 100%;
    padding-top: 3%;
}
#upgradesPage{
    overflow-y: scroll;
    height: 100%;
}
#buyAmount{
    border: black solid 3px;
    border-radius: 5px;
    background-color: #61371F;
    width: 90%;
    height: 10%;
    margin: auto;
    font-size: 0px;
}
#autominer{
    border: black solid 2px;
    border-radius: 5px;
    width: 95%;
    height: 40%;
    margin: auto;
    margin-top: 1%;
    background-color: #61371F;
}
#autominerButton{
    width: 40%;
    border: black solid 2px;
    border-radius: 5px;
    height: 50%;
    margin: auto;
    margin-top: 3%;
}
#autominerDescription{
    font-size: 40px;
    margin-top: 1%;
}
#autominerChance{
    font-size: 80px;
    margin-top: 4%;
}
#autominerCost{
    margin-top: 25%;
    font-size: 40px;
}
#rank{
    width: 50%;
    height: 30%;
    background-color: #61371F;
    border: black solid 2px;
    border-radius: 5px;
    margin: auto;
    margin-top: 0.5%;
    font-size: 200px;
}
#currentMultiplier{
    width: 40%;
    margin: auto;
    margin-top: 1%;
    height: 15%;
    font-size: 30px;
    display: inline-block;
    background-color: #61371F;
    border: black solid 2px;
    border-radius: 5px;
    line-height: 150%;
}
#rankButton{
    width: 60%;
    height: 25%;
    margin: auto;
    margin-top: 1%;
    border: black solid 2px;
    border-radius: 5px;
    font-size: 40px;
    padding-top: 10%;
}
