@font-face{
    font-family: Minecrafter;
    src: url("Images/Pixel-Miners.otf");
}
*{
    padding: 0px;
    margin: 0px;
    outline: 0;
    font-family: Minecrafter;
    color: lightgray;
}
html { height: 100%; }
body { height: 100%; }
/*/ Classes /*/
.container{
    background-color: #854F2B;
    margin: auto;
    height: 100%;
    width: 50%;
}
.top{
    background-color: #477A1E;
    height: 15%;
    width: 100%;
    text-align: center;
    position: relative;
}
.middle{
    height: 65%;
    text-align: center;
    position: relative;
}
.bottom{
    background-color: #8FCA5C;
    height: 20%;
    width: 100%;
    font-size: 0px;
    position: relative;
}
.menuButton{
    width: 25%;
    height: 100%;
    background-color: #8FCA5C;
    background-repeat: no-repeat;
    border: black solid 3px;
}
.upgrade{
    position: relative;
    width: 90%;
    height: 200px;
    background-color: #61371F;
    border: black solid 3px;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    font-family: Minecrafter;
}
.upgradeButton{
    height: 90%;
    width: 30%;
    border: black solid 2px;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 69%;
    font-family: Minecrafter;
    font-size: 1.8vw;
    color: lightgray;
}
.upgradeName{
    height: 20%;
    width: 35%;
    font-size: 1.6vw;
    color: lightgray;
    border: black solid 2px;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 1%;
    padding-top: 2%;
}
.upgradeLevel{
    height: 20%;
    width: 29%;
    font-size: 1.6vw;
    color: lightgray;
    border: black solid 2px;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 37%;
    padding-top: 2%;
}
.upgradeDescription{
    height: 50%;
    width: 65%;
    font-size: 1.1vw;
    color: lightgray;
    border: black solid 2px;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 1%;
}
.buyAmountButton{
    width: 20%;
    margin: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: black solid 2px;
    height: 90%;
    margin-top: 0.5%;
    font-size: 1vw;
}
.available{
    background-color: green;
}
.unavailable{
    background-color: red;
}
.vertical{ margin-top: 2%;}
/*/ ID's /*/
#block{
    width:50%;
    height:60%;
    background-color: #854F2B;
    background-image: url("Images/Stone.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 75%;
    border: none;
    position: absolute;
    top: 25%;
    left: 25%;
    cursor: url("Images/Diamond_Pickaxe.png"), auto;
}
#moneyCounter{
    font-size: 5vw;
    position: absolute;
    width: 100%;
    height: 80%;
    top: 30%;
}
#cooldownBar{
    width: 80%;
    position: absolute;
    top: 3%;
    left: 10%;
    border: black solid 1px;
    border-radius: 5px;
    height: 10%;  
}
#progressBar{
    height: 100%;
    width: 0%;
    background-color: rgb(45, 140, 172);
    border: none;
    border-radius: 5px;
}
#cooldownTimer{
    font-size: 2vw;
    position: absolute;
    bottom: 100%;
    height: 20%;
    width: 80%;
    top: 20%;
    left: 10%;
}
#durabilityBar{
    width: 80%;
    margin: auto;
    margin-top: 1%;
    border: black solid 1px;
    border-radius: 5px;
    height: 10%;
    position: absolute;
    top: 85%;
    left: 10%;
}
#durabilityLeft{
    height: 100%;
    width: 0%;
    background-color: orange;
    border: none;
    border-radius: 5px;
}
#durabilityCounter{
    font-size: 2vw;
    position: absolute;
    bottom: 100%;
    height: 20%;
    width: 80%;
    top: 20%;
    left: 10%;
}
#clickInfo{
    position: absolute;
    width: 40%;
    left: 30%;
    height: 8%;
    top: 15%;
    text-align: center;
}
#tntImg{
    position: absolute;
    width: 15%;
    height: 100%;
    left: 10%;
}
#explosionCount{
    position: absolute;
    width: 15%;
    height: 50%;
    top: 25%;
    left: 25%;
    font-size: 1.5vw;
}
#multiclickImg{
    position: absolute;
    width: 15%;
    height: 100%;
    left: 60%;
}
#multiclickCount{
    position: absolute;
    width: 15%;
    height: 50%;
    top: 25%;
    left: 75%;
    font-size: 1.5vw;
}
#upgradesPage{
    overflow-y: scroll;
    height: 100%;
}
#buyAmount{
    border: black solid 3px;
    border-radius: 5px;
    background-color: #61371F;
    width: 90%;
    height: 10%;
    margin: auto;
    font-size: 0px;
}
#autominer{
    border: black solid 2px;
    border-radius: 5px;
    width: 95%;
    height: 40%;
    background-color: #61371F;
    position: absolute;
    left: 2.5%;
    top: 2.5%;
}
#autominerButton{
    width: 40%;
    border: black solid 2px;
    border-radius: 5px;
    height: 50%;
    position: absolute;
    left: 30%;
    top: 45%;
}
#autominerDescription{
    font-size: 40px;
    position: absolute;
    top: 1%;
}
#autominerChance{
    font-size: 80px;
    position: absolute;
    top: 50%;
    width: 50%;
    left: 25%;
}
#autominerCost{
    position: absolute;
    top: 30%;
    font-size: 40px;
}
#rank{
    width: 50%;
    height: 30%;
    background-color: #61371F;
    border: black solid 2px;
    border-radius: 5px;
    position: absolute;
    left: 25%;
    top: 5%;
    font-size: 8vw;
}
#currentRank{
    position: absolute;
    width: 50%;
    height: 10%;
    top: 17%;
    left: 25%;
}
#currentMultiplier{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 37%;
    height: 13%;
    font-size: 30px;
    display: inline-block;
    background-color: #61371F;
    border: black solid 2px;
    border-radius: 5px;
    padding-top: 2%;
}
#rankButton{
    width: 60%;
    height: 25%;
    position: absolute;
    left: 20%;
    top: 57%;
    border: black solid 2px;
    border-radius: 5px;
    font-size: 40px;
    padding-top: 10%;
}
